body {
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  margin-left: 5%;
  margin-right: 5%;
}

h2 {
  margin-left: 5%;
  margin-right: 5%;
}

p {
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  display: block;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  background-color: black;
  color: white;
}

.dropdown {
      float: left;
      overflow: hidden;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
      background-color: black;
}

.dropdown:hover .dropdown-content {
      display: block;
}

h2 a {
  text-decoration: none;
  color: darkslategrey;
}

h2 a:hover {
  color: black;
}

h1 a {
  text-decoration: none;
  color: darkslategrey;
}

h1 a:hover {
  color: blue;
}

a {
  text-decoration: none;
  font-weight: bold;
}

p a {
  color: maroon;
}

p a:visited {
  color: darkred;
}

.column {
  float: left;
  width: 30%;
  padding: 0.5%;
}

.row {
  display: flex;
  justify-content: center; /* Centers columns horizontally */
  gap: 1%; /* Optional: Adds space between columns */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
